<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @restaurant.address %>
</p>

<%= link_to 'Editar', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Voltar', restaurants_path %>
